<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>{{$ctrl.singleProduct.product_name}}</h2>
    <img src="{{$ctrl.singleProduct.image}}" id="list-image">
    <h3>{{$ctrl.singleProduct.description}}</h3>
  </div>
</div>
<h4>Comments</h4>
<div class="comments" ng-repeat="comment in $ctrl.singleProduct.comments">
  <p>{{comment.comment}}</p>
</div>
<div class="col-sm-6" ng-repeat="producer in $ctrl.productsProducer">
  <a href="/farm/{{producer.farm_id}}">{{producer.farm_name}}</a>
  <a href="/{{producer.market_id}}">{{producer.market_name}}</a>
</div>
