<div class="container">

  <div class="row">
    <div class="main-banner col-sm-10 col-sm-offset-1">
      <h3>Welcome to ingather!</h3>
      <p>We provide a comprehensive list of all the items currently available at your local Seattle Farmers Market. Sort by market, farm, and product type. <a ui-sref="signin">Sign up</a> to communicate directly to the farmers that provide your food!</p>
    </div>
  </div>

  <div class="row">
    <div class="filter-wrapper col-sm-8 col-sm-offset-2">
      <ul id="filtering" class="nav nav-pills">
        <div class="form-inline col-sm-4">
          <select class="form-control" ng-model="$ctrl.farmName" id="sort">
            <option value="">all farms</option>
            <option ng-repeat="farm in $ctrl.farms" value="{{farm.id}}"><p>{{farm.farm_name}}</p></option>
          </select>
        </div>
        <div class="form-inline col-sm-4">
          <select class="form-control" ng-model="$ctrl.marketName">
            <option value="">all markets</option>
            <option ng-repeat="market in $ctrl.markets track by $index" value="{{market.id}}">{{market.market_name}}</option>
          </select>
        </div>
        <div class="form-inline col-sm-4">
          <select class="form-control" ng-model="$ctrl.productType" id="sort">
            <option value="">all products</option>
            <option ng-repeat="product in $ctrl.dropDown" value="{{product}}"><p>{{product}}</p></option>
          </select>
        </div>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="img-wrapper col-sm-10 col-sm-offset-1">
      <div class="col-sm-4 img-wrap-wrap" ng-repeat="product in $ctrl.products | orderBy:$ctrl.sortBy | filter:{farm_id:$ctrl.farmName} | filter:{type:$ctrl.productType} | filter:{market_id:$ctrl.marketName}">
        <div class="product-img-wrap">
          <img id="list-image" src="{{$ctrl.croppedImageUrl(product.image)}}">
        </div>
        <div class="img-info" ng-click="$ctrl.getSingleProduct(product)">
          <ul>
            <li><h2>{{product.product_name}}</h2></li>
            <li><h4>${{product.price}}</h4></li>
            <li><p>more info...</p></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
