<div class="container">

  <div class="show-one-product row">
    <div class="show-one-wrapper col-sm-6">
      <h2>{{$ctrl.singleProduct.product_name}}</h2>
      <div class="col-sm-6">
        <h3>{{$ctrl.productsProducer[0].farm_name}}</h3>
      </div>
      <div class="col-sm-6">
        <h3 ng-repeat="producer in $ctrl.productsProducer"><a ui-sref="markets">{{producer.market_name}}</a></h3>
      </div>
      <div class="show-one-img col-sm-10 col-sm-offset-1">
        <img src="{{$ctrl.singleProduct.image}}" id="list-image">
      </div>
      <h3>{{$ctrl.singleProduct.description}}</h3>
    </div>
    <div class="comments col-sm-6">
      <h3>Comments</h3>
    </div>
    <div class="show-one-comments col-sm-6" ng-repeat="comment in $ctrl.singleProduct.comments">
      <p>{{comment.first_name}}</p>
      <p>{{comment.comment}}</p>
      <p>{{comment.commentCreated}}</p>
    </div>
    <div class="add-comment-wrapper col-sm-6">
      <form class="comment-form" ng-submit="$ctrl.addComment()">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="comment here" ng-model="$ctrl.newComment">
        </div>
        <div class="col-sm-8 col-sm-offset-2">
          <button type="submit" name="button">Add a Comment</button>
        </div>
      </form>
    </div>
  </div>

</div>
