<div id="jumbotron" class="jumbotron">
  <h1>Welcome!</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim atat non proident, sunt in culpa qui officia deserunt mollit anim id est laboru.</p>
  <button id="jumbotron-btn" type="button" name="button">Sign Up</button>
</div>
<div class="container-fluid">
  <div class="row">
    <h3>Filter By:</h3>
    <ul class="nav nav-pills">
        <li role="presentation" class="active">
          <input type="search" class="form-control input-sm search-form" ng-model="filterInput" placeholder="Filter">
        </li>
        <!-- <div class="form-inline">
          <label for="sort">Farm</label>
          <select class="form-control" ng-model="filterInput" id="sort">
            <option ng-repeat="farm in $ctrl.farms | filter:filterInput"><p>{{farm.farm_name}}</p></option>
          </select>
        </div>
        <div class="form-inline">
          <label for="sort">Market</label>
          <select class="form-control" ng-model="filterInput" id="sort">
            <option ng-repeat="market in $ctrl.markets | filter:filterInput"><p>{{market.market_name}}</p></option>
          </select>
        </div> -->
        <div class="form-inline">
          <label for="sort">Product</label>
          <select class="form-control" ng-model="filterInput" id="sort">
            <option ng-repeat="product in $ctrl.products | filter:filterInput"><p>{{product.type}}</p></option>
          </select>
        </div>
      </ul>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="col-sm-4" ng-repeat="product in $ctrl.products | orderBy:$ctrl.sortBy | filter:filterInput">
        <img ng-click="$ctrl.getSingleProduct(product)" src="{{product.image}}" id="list-image">
      </div>
    </div>
  </div>
</div>
