header {
  margin-top: 5vh;
  margin-bottom: 10vh; }
  header a {
    padding: 5px;
    cursor: default;
    font-family: "Bellefair", serif;
    font-size: 40px;
    text-decoration: none;
    color: #1F2421; }
  header a:visited {
    text-decoration: none;
    color: #1F2421; }
  header a:hover {
    text-decoration: none;
    color: #AB9B96; }
  header a:active {
    text-decoration: none;
    color: #AB9B96; }
  header button {
    cursor: default; }
  header ul {
    display: inline-block;
    float: right; }
    header ul li {
      display: inline-block;
      padding: 5px; }
      header ul li .nav-link {
        font-family: "Bellefair", serif;
        font-size: 20px;
        padding: 8px; }

#body {
  background-color: #F6FFF8; }

#img-wrap {
  display: inline-block;
  position: relative; }
  #img-wrap #list-image {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 2px;
    padding: 10px; }

.img-info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(195, 195, 195, 0.41);
  color: #1F2421;
  visibility: hidden;
  opacity: 0;
  transition: opacity .8s, visibility .8s;
  font-size: 24px;
  text-align: center; }

#img-wrap:hover .img-info {
  visibility: visible;
  opacity: 1; }

#thumbnail {
  height: 300px;
  width: 300px;
  object-fit: cover; }
