// COLORS
$color-white: #F6FFF8;
$color-gray: #AB9B96;
$color-black: #1F2421;
$color-lightblue: #9FB8AD;
$color-midblue: #83A0A0;
$color-darkblue: #4C5F6B;
$color-green: #475841;

// FONTS
$font-main: 'Bellefair', serif;
$font-purveyor: 'Lora', serif;
$font-cursive: 'Abril Fatface', cursive;
$font-marker: 'Permanent Marker', cursive;

.container {
  background-color: rgba(255, 255, 255, .5);
}

// NAVBAR
header {
  margin-top: 5vh;
  margin-bottom: 10vh;
  a {
    padding: 5px;
    cursor: default;
    font-family: $font-main;
    font-size: 40px;
    text-decoration: none;
    color: $color-black;
  }
  a:visited {
    text-decoration: none;
    color: $color-black;
  }
  a:hover {
    text-decoration: none;
    color: $color-gray;
  }
  a:active {
    text-decoration: none;
    color: $color-gray;
  }
  button {
    cursor: default;
  }
  ul {
    display: inline-block;
    float: right;
    li {
      display: inline-block;
      padding: 5px;
      .nav-link {
        font-family: $font-main;
        font-size: 20px;
        padding: 8px;
      }
    }
  }
}

.welcome-wrap {
  font-size: 50px;
  font-family: $font-main;
  text-align: center;
}

#body {
  background-image: url('../../images/farm landing.jpg');
  background-color: $color-midblue;
  background-repeat: no-repeat;
  background-attachment: fixed;
  button {
    background-color: $color-white;
    border-color: $color-lightblue;
    border-style: ridge;
    color: $color-midblue;
  }
}

.main-banner {
  text-align: center;
  font-family: $font-main;
  h3 {
    font-size: 35px;
  }
  p {
    font-size: 18px;
  }
}

.hover-info {
  margin-top: 6vh;
}

.filter-wrapper {
    margin-top: 5vh;
    margin-bottom: 3vh;
    text-align: center;
    font-family: $font-main;
    font-size: 20px;

  .form-inline {
    display: inline-block;
  }
}

.form-control {
  #sort {
    color: $color-midblue;
  }
}

.img-wrapper {
  border-radius: .5%;
}

// MAIN PRODUCTS DIV
.product-img-wrap {
  margin-top: 10px;
  display: inline-block;
  margin-bottom: 10px;

  #list-image {
    border-radius: 5%;
    width: 100%;
  }
}

#show-one-image {
  width: 100%;
}

#image {
  display: none;
}

.img-info {
  background-color: rgba(255, 255, 255, 0.45);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: $color-black;
  visibility: hidden;
  opacity: 0;
  transition: opacity .8s, visibility .8s;
  font-size: 24px;
  text-align: center;
  border-radius: 2%;
  ul {
    list-style: none;
    font-family: $font-marker;
    p {
      font-family: $font-main;
    }
  }
}


.img-wrap-wrap:hover .img-info {
  visibility: visible;
  opacity: 1;
}

#thumbnail {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

#filtering {
  .form-control {
    color: $color-black;
    font-family: $font-main;
    font-size: 18px;
    // background-color: rgba(255, 255, 255, .5);
    border-style: hidden;
    border-color: $color-gray;
    position: relative;
  }
  .form-control:visited {
    border-color: $color-gray;
  }
  .form-control:hover {
    border-color: $color-gray;
  }
  .form-control:active {
    border-color: $color-gray;
  }
}

.show-one-product {
  border-radius: .5%;
  // background-color: rgba(255, 255, 255, 0.2);
  // box-shadow: 2px 2px 2px 1px rgba(255, 255, 255, 0.1);
  font-family: $font-main;
  .show-one-wrapper {
    text-align: center;
    h2 {
      font-size: 30px;
      font-family: $font-marker;
    }
  }
}

.show-one-img {
  margin-bottom: 20px;
  #list-image {
    height: 350px;
    width: 450px;
    object-fit: cover;
  }
}

.comments {
  font-family: $font-marker;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 18px;
}

.signin-wrapper {
  text-align: center;
  font-family: $font-main;
  .control-label {
    font-weight: 400;
  }
}

.show-one-comments {
  font-size: 18px;
  .name {
    font-size: 20px;
  }
}

.signup-wrapper {
  text-align: center;
  font-family: $font-main;
  .control-label {
    font-weight: 400;
  }
}

.signup-buttons {
  text-align: center;
}

.show-one-comments {
  text-align: center;
  margin-bottom: 10px;
}

.farm-landing {
  border-radius: .5%;
  // background-color: rgba(255, 255, 255, 0.2);
  // box-shadow: 2px 2px 2px 1px rgba(255, 255, 255, 0.1);
}

.farm-landing-product-wrapper {
  text-align: center;
  font-family: $font-main;
  p {
    font-size: 16px;
  }
}

#added-image {
  width: 100%;
}

.edit-page-wrap {
  border-radius: .5%;
  // background-color: rgba(255, 255, 255, 0.2);
  // box-shadow: 2px 2px 2px 1px rgba(255, 255, 255, 0.1);
}

#medium-img {
  width: 100%;
}

.edit-comments {
  border-radius: .5%;
  // background-color: rgba(255, 255, 255, 0.2);
  // box-shadow: 2px 2px 2px 1px rgba(255, 255, 255, 0.1);
}

.market-wrap {
  margin-top: 20vh;
  // box-shadow: 30px 2px 2px 1px rgba(255, 255, 255, 0.1);
}

.all-markets {
  font-family: $font-main;
  text-align: center;
  border-radius: .5%;
  // background-color: rgba(255, 255, 255, 0.2);
  // box-shadow: 2px 2px 2px 1px rgba(255, 255, 255, 0.1);
  ul {
    list-style: none;
  }
}

.farm-img {
  width: 350px;
  height: 250px;
  object-fit: contain;
}

.farm-wrap {
  margin-top: 8vh;
  text-align: center;
  font-family: $font-main;
  text-align: center;
  border-radius: .5%;
  // background-color: rgba(255, 255, 255, 0.2);
  // box-shadow: 2px 2px 2px 1px rgba(255, 255, 255, 0.1);
}

.edit-wrapper {
  label {
    font-weight: 400;
  }
  font-family: $font-main;
  text-align: center;
}

.add-comment-wrapper {
  width: 100%;
}
