// COLORS
$color-sky: #DFF8EB;
$color-gray: #36393B;
$color-black: #12100E;
$color-blue: #99C5B5;
$color-green: #4E5340;

// FONTS
$font-main: 'Bellefair', serif;
$font-purveyor: 'Lora', serif;
$font-cursive: 'Abril Fatface', cursive;
$font-marker: 'Permanent Marker', cursive;

header {
  background: $color-blue;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  border-bottom: 3px solid $color-green;
  ul {
    list-style: none;
    li {
      display: inline-block;
      float: left;
      padding: 10px;
    }
  }
  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  #logo {
    margin: 1px;
    float: left;
    width: 200px;
    height: 45px;
    background: url('https://www.farmersbusinessnetwork.com/img/web/newcms/logo/logo_flat.png') no-repeat center;
    display: block;
  }
  nav {
    float: right;
    padding: 20px;
  }
  #menu-icon {
    background: url('http://icons.iconarchive.com/icons/icons8/ios7/128/Plants-Farm-icon.png');
    display: hidden;
    width: 32px;
    height: 32px;

  }
}

@media only screen and (max-width: 640px) {
  header {
    position: absolute;
    #menu-icon {
      display: inline-block;
    }
    nav ul, nav:active ul {
      display: none;
      position: absolute;
      padding: 20px;
      background: blue;
      right: 10px;
      top: 65px;
      width: 35%;
    }
    nav:hover ul {
      display: block;
      nav li {
        text-align: center;
        width: 100%;
        padding: 15px 0;
        margin: 0;

      }
    }
  }
}

#body {
  margin-top: 10px;
  padding-top: 20px;
  background: #DFF8EB;
  input {
    font-family: $font-main;
  }
  font-family: $font-purveyor;
}

label {
  color: $color-black;
}

#thumbnail {
  width: 47vw;
  max-height: 40vh;
  object-fit: cover;
}

#list-image {
  width: 25vw;
  max-height: 25vh;
  object-fit: cover;
  padding: 8px;
}
