<div class="row">
  <div class="col-sm-4 col-sm-offset-1">
    <h2 class="">Sign In</h2>
    <form class="form-horizontal" ng-submit="$ctrl.getAllUsers(email, password)">
      <div class="form-group">
        <label for="inputEmail3" class="control-label">Email</label>
        <div class="">
          <input ng-model="$ctrl.email" type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="control-label">Password</label>
        <div class="">
          <input ng-model="$ctrl.password" type="password" class="form-control" id="inputPassword3" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <div class="">
          <div class="checkbox">
            <label>
              <input type="checkbox"> Remember me
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="">
          <button type="submit" class="btn btn-default">Sign In</button>
        </div>
      </div>
    </form>
  </div>

  <div class="col-sm-4 col-sm-offset-2">
    <h2 class="">Sign Up</h2>
    <button type="button" name="button" ng-click="$ctrl.showUserSignUp()">Customer</button>
    <button type="button" name="button" ng-click="$ctrl.showPurveyorSignUp()">Purveyor</button>
    <!-- USER SIGN UP -->
    <form class="form-horizontal" ng-show="$ctrl.showUser">
      <div class="form-group">
        <label for="user-email" class="control-label">Email</label>
        <div class="">
          <input type="email" class="form-control" id="user-email" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <label for="user-password" class="control-label">Password</label>
        <div class="">
          <input type="password" class="form-control" id="user-password" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <div class="">
          <button type="submit" class="btn btn-default">Sign Up</button>
        </div>
      </div>
    </form>
    <!-- PURVEYOR SIGN UP -->
    <form class="form-horizontal" ng-show="$ctrl.showPurveyor">
      <div class="form-group">
        <label for="farm-name" class="control-label">Farm Name</label>
        <div class="">
          <input type="text" class="form-control" placeholder="Farm Name">
        </div>
      </div>
      <div class="form-group">
        <label for="location" class="control-label">Location</label>
        <div class="">
          <input type="text" id="location" class="form-control"placeholder="Location">
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="control-label">Email</label>
        <div class="">
          <input type="text" id="email" class="form-control"placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="control-label">Password</label>
        <div class="">
          <input type="text" id="password" class="form-control"placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <div class="">
          <div class=""> Where do you sell? <br>
            <label>
              <input type="checkbox"> U-District
            </label>
            <label>
              <input type="checkbox"> Capitol Hill
            </label>
            <label>
              <input type="checkbox"> West Seattle
            </label>
            <label>
              <input type="checkbox"> Columbia City
            </label>
            <label>
              <input type="checkbox"> Lake City
            </label>
            <label>
              <input type="checkbox"> Phinney
            </label>
            <label>
              <input type="checkbox"> Magnolia
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="">
          <button type="submit" class="btn btn-default">Sign Up</button>
        </div>
      </div>
    </form>
  </div>
</div>
